@font-face {
  font-family: 'bs-icon';
  font-display: block;
  src:  url('../fonts/bs-icon.eot?vgrhyj');
  src:  url('../fonts/bs-icon.eot?vgrhyj#iefix') format('embedded-opentype'),
    url('../fonts/bs-icon.ttf?vgrhyj') format('truetype'),
    url('../fonts/bs-icon.woff?vgrhyj') format('woff'),
    url('../fonts/bs-icon.svg?vgrhyj#bs-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="bs-icon-"], [class*=" bs-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'bs-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bs-icon-chat-bubble-dots:before {
  content: "\e910";
}
.bs-icon-thumbs-up:before {
  content: "\e911";
}
.bs-icon-apparel:before {
  content: "\e912";
}
.bs-icon-conversation:before {
  content: "\e913";
}
.bs-icon-heart:before {
  content: "\e914";
}
.bs-icon-checkmark:before {
  content: "\e915";
}
.bs-icon-check:before {
  content: "\e90c";
}
.bs-icon-gallery:before {
  content: "\e90d";
}
.bs-icon-eye:before {
  content: "\e90e";
}
.bs-icon-chevron-left:before {
  content: "\e904";
}
.bs-icon-chevron-right:before {
  content: "\e905";
}
.bs-icon-arrow-left:before {
  content: "\e906";
}
.bs-icon-arrow-right:before {
  content: "\e908";
}
.bs-icon-mail:before {
  content: "\e90a";
}
.bs-icon-likes:before {
  content: "\e902";
}
.bs-icon-comments:before {
  content: "\e900";
}
.bs-icon-sewed:before {
  content: "\e901";
}
.bs-icon-letter:before {
  content: "\e903";
}
.bs-icon-search:before {
  content: "\e907";
}
.bs-icon-user-default:before {
  content: "\e909";
}
.bs-icon-basket:before {
  content: "\e90b";
}
.bs-icon-fav:before {
  content: "\e917";
}