/* open-sans-regular - cyrillic_latin */
@font-face {
  font-family: 'Open Sans';
  font-display: fallback;
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
       url('../fonts/open-sans-v15-cyrillic_latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/open-sans-v15-cyrillic_latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-italic - cyrillic_latin */
@font-face {
  font-family: 'Open Sans';
  font-display: fallback;
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'),
       url('../fonts/open-sans-v15-cyrillic_latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/open-sans-v15-cyrillic_latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-700 - cyrillic_latin */
@font-face {
  font-family: 'Open Sans';
  font-display: fallback;
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'),
       url('../fonts/open-sans-v15-cyrillic_latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/open-sans-v15-cyrillic_latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-700italic - cyrillic_latin */
@font-face {
  font-family: 'Open Sans';
  font-display: fallback;
  font-style: italic;
  font-weight: 700;
  src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'),
       url('../fonts/open-sans-v15-cyrillic_latin-700italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/open-sans-v15-cyrillic_latin-700italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* playfair-display-regular - latin */
// @font-face {
//   font-family: 'Playfair Display';
//   font-display: fallback;
//   font-style: normal;
//   font-weight: 400;
//   src: local('Playfair Display Regular'), local('PlayfairDisplay-Regular'),
//        url('../fonts/playfair-display-v13-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
//        url('../fonts/playfair-display-v13-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
// }
/* playfair-display-700 - latin */
// @font-face {
//   font-family: 'Playfair Display';
//   font-display: fallback;
//   font-style: normal;
//   font-weight: 700;
//   src: local('Playfair Display Bold'), local('PlayfairDisplay-Bold'),
//        url('../fonts/playfair-display-v13-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
//        url('../fonts/playfair-display-v13-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
// }

@font-face {
  font-family: "Playfair Display";
  font-display: fallback;
  font-weight: 400;
  font-style: normal;
  src: 
    url("../fonts/playfair-400-normal.woff2") format("woff2"),
    url("../fonts/playfair-400-normal.woff") format("woff"),
    url("../fonts/playfair-400-normal.ttf") format("truetype");
} 
@font-face {
  font-family: "Playfair Display";
  font-display: fallback;
  font-weight: 700;
  font-style: normal;
  src: 
    url("../fonts/playfair-700-normal.woff2") format("woff2"),
    url("../fonts/playfair-700-normal.woff") format("woff"),
    url("../fonts/playfair-700-normal.ttf") format("truetype");
}  