.container {
    margin: 0 auto;
    padding: 0 #{$gutter / 2};
    @include media((
        width: (all: 1320px, md: 990px, sm: 660px, xs: inherit)
    ));
}

.row {
    display: flex;
    flex-wrap: wrap;
    @include media((
        margin: (all: 0 -#{$gutter / 2}, xs: 0)
    ));
}

@include make-grid();

[class^="col-"] {
    flex: none;
    margin-bottom: $gutter;
    @include media((
        padding: (all: 0 #{$gutter / 2}, xs: 0)        
    ));
    
}
