@mixin make-grid($column: 12) {
    // Дефолтное значение
    @for $i from 1 through $column {
        .col-lg-#{$i} {
            width: 100% / $column * $i;
        }
    }
    // Проходим по брейкпоинтам
    @each $name, $value in ($breakpoints) { 
        @for $i from 1 through $column {
            .col-#{$name}-#{$i} {
                @include media ((width: ($name: 100% / $column * $i)));
            }
        }
    }
}

@mixin clearfix() {
    &::after {
        display: block;
        clear: both;
        content: "";
    }
}

@mixin font-default($sizeValue: 14px, $line: normal, $font-weight: 400) {
    font: $font-weight #{$sizeValue}/#{$line} $font-default;
}
@mixin font-title($sizeValue: 14px, $line: $sizeValue, $font-weight: 400) {
    font: $font-weight #{$sizeValue}/#{$line} $font-title;
}


@mixin placeholder {
    &::-webkit-input-placeholder {@content}
    &:-moz-placeholder           {@content}
    &::-moz-placeholder          {@content}
    &:-ms-input-placeholder      {@content}
}
