.color-block {
    background-color: gray;
}
.color-block-red {
    background-color: red;
}
.color-block-blue {
    background-color: blue;
}
.color-block-green {
    background-color: green;
}
.mh50 {
    min-height: 50px;
}
.mh100 {
    min-height: 100px;
}
.mh270 {
    min-height: 270px;
}
.mh400 {
    min-height: 400px;
}
.mh600 {
    min-height: 600px;
}
.mb30 {
    margin-bottom: 30px;
}

* {
    box-sizing: border-box;
}
body {
    color: $text-color;
    @include font-default();
}

.layout {
    background-color: #fff;
}

.branding {
    .main-header .billboard {
        display: none;
    }
    .layout {
        max-width: 1320px;
        margin: 0 auto;
        position: relative;
        box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.3);
    }
} 

.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    line-height: 1;
    vertical-align: middle;
    white-space: nowrap;
    text-align: center;
    background-color: #cfcfcf;
    border-radius: 10px;
}
.burger {
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 20px;
    height: 20px;
    &:before {
        position: absolute;
        content: "";
        left: 0;
        top: 2px;
        width: 100%;
        height: 2px;
        background-color: $white;
        box-shadow:
            0 7px 0 0 $white,
            0 14px 0 0 $white;
    }
}
h1 {
    @include font-title(32px, normal, 400);
    text-align: center;
    @include media((
        font-size: (xs: 24px),
        margin: (all: 30px 10px 15px, xs: 30px 10px 30px)
    ));
}

p:empty {
    display: none;
}
.hidden {
    display: none !important;
}
.hidden-md {
    @include media ((display: (md: none !important)));
}
.hidden-sm {
    @include media ((display: (sm: none !important)));
}
.hidden-xs {
    @include media ((display: (xs: none !important)));
}
.visible-md {
    @include media ((display: (md: block !important)));
}
.visible-sm {
    @include media ((display: (sm: block !important)));
}
.visible-xs {
    @include media ((display: (xs: block !important)));
}
.flex-md {
    @include media ((display: (md: flex !important)));
}
.flex-sm {
    @include media ((display: (sm: flex !important)));
}
.flex-xs {
    @include media ((display: (xs: flex !important)));
}