$breakpoints: (
    md: 1319,
    sm: 989,
    xs: 659
);
$media-direction: max;
$gutter: 30px;

$text-color: #44404a;
$link-color: #736a73;
$bg-color: #f5f5f5;
$border-color: #ebebeb;
$black: #000;
$gray: #a0a0a0;
$red: #ff4860;
$white: #fff;

$font-default: 'Open Sans', 'Arial', sans-serif;
$font-title: 'Playfair Display', 'Times New Roman', serif;
