<head>
    <title>Бурдастайл v3</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="description" content="Бурдастайл">
    <meta name="keywords" content="Бурдастайл">
    <meta name="og:title" content="Бурдастайл">
    <meta name="og:description" content="Бурдастайл">
    <meta name="og:image" content="Бурдастайл">
    <meta name="article:author" content="Бурдастайл">
    <meta name="article:publisher" content="Бурдастайл">
    <meta name="apple-itunes-app" content="Бурдастайл">
    <meta name="dcterms.dateCopyrighted" content="Бурдастайл">
    <meta property="og:site_name" content="Бурдастайл">
    <meta property="fb:app_id" content="Бурдастайл">
    <link href="http://burdastyle.ru/" rel="canonical">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.min.css">
</head>