<nav class="academy_navigation">
    <a href="/" class="academy_logo"></a>
    <ul>
        <li>
           <a href class="academy_navigation_item active">Курсы</a> 
        </li>
        <li>
           <a href="#" class="academy_navigation_item">Календарь</a> 
        </li>
        <li>
           <a href="#" class="academy_navigation_item">Преподаватели</a> 
        </li>
        <li>
           <a href="#" class="academy_navigation_item">Франшиза</a> 
        </li>
        <li>
           <a href="#" class="academy_navigation_item">Контакты</a> 
        </li>
    </ul>
</nav>