<div class="col-lg-4 col-md-6 col-xs-12">
    <a href="#" class="course_preview">
        <div class="course_info" style="background-image: url(https://burdastyle.ru/cache/img/photo/1983/1982271/300_400_c_s267.jpg)">
            <div class="wrapper">
                <h2 class="name">Техника Шанель</h2>
                <p class="count">8 занятий | 32 часа</p>
                <p class="price-box">
                    <span class="price">10 500</span>
                </p>
                <ul class="tags">
                    <li>
                        Шитьё
                    </li>
                    <li>
                        Для начинающих
                    </li>
                </ul>
            </div>        
        </div>
        <div class="wrapper">
            <p class="course_teacher">Преподаватель: <b>Хацкевич Светлана Анатольевна</b></p>
            <p class="course_description">На занятиях по шитью вы освоите швейную машинку и оверлок, научитесь приемам утюжки, узнаете, как правильно скорректировать выкройку под свою фигуру и обязательно сошьете идеально подходящую именно вам вещь.</p>
        </div>      
    </a>
</div>
