<header class="main_header">
    <div class="billboard"></div>
    <div class="main_header_wrapper">
        <div class="container">
            <div class="main_header_box">
                <a class="logo" href="/">BurdaStyle.ru</a>                
                <div class="actions_set">
                    <div class="search_block">
                        <form action="/search/" method="get">
                            <input type="text" placeholder="Поиск по сайту" value="" name="q">
                            <button>
                                <i class="bs-icon-search" aria-hidden="true"></i>
                            </button>
                        </form>
                    </div>   
                    <div class="user_block noauth" id="user_dropdown">
                        <div class="user_box">
                            <a class="user_box-header" data-target="#authModal" data-toggle="modal">
                                <div class="avatar bs-icon-user-default" alt="Войти"></div>
                                <div class="info-box">
                                    <div class="title">Вход</div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="user_block auth hidden" id="user_dropdown">
                        <div class="user_box">
                            <a class="user_box-header" data-target="#authModal" data-toggle="modal">
                                <div class="avatar bs-icon-user-default" alt="Войти"></div>
                                <div class="info-box">
                                    <div class="title">Вход</div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="shopping_block" id="cart_dropdown">
                        <div class="shopping_cart_box">
                            <div class="shopping_cart_box-header">
                                <i class="bs-icon-basket"></i>
                                <span class="badge">0</span>
                                <div class="price-box">
                                    <div class="title">Корзина</div>
                                    <div class="price">0</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>                    
            </div>
        </div>
    </div>
    <div class="main_navigation_wrapper">
        <div class="container">
            <button class="main_navigation_burger burger" type="button">
                Открыть меню
            </button>
            <div class="swiper-container hidden-xs">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="/vikroyki/">Выкройки</a>
                    </div>
                    <div class="swiper-slide">
                        <a href="/master-klassy/">Мастер-классы</a>
                    </div>
                    <div class="swiper-slide">
                        <a href="/stati/">Мода</a>
                    </div>
                    <div class="swiper-slide">
                        <a href="/fotoforum/">Фотофорум</a>
                    </div>
                    <div class="swiper-slide">
                        <a href="/forum/">Форум</a>
                    </div>
                    <div class="swiper-slide">
                        <a href="/konkursy/">Конкурсы</a>
                    </div>
                    <div class="swiper-slide">
                        <a href="/zhurnaly/">Журналы</a>
                    </div>
                    <div class="swiper-slide">
                        <a href="/eshop/">Магазин</a>
                    </div>
                    <div class="swiper-slide">
                        <a href="https://www.akademia-burda.ru/" target="_blank">Академия Burda</a>
                    </div>
                    <div class="swiper-slide">
                        <a href="/poleznye-adresa/">Швейные адреса</a>
                    </div>
                </div>
                <div class="swiper-nav-prev"></div>
                <div class="swiper-nav-next"></div>
            </div>
        </div>
    </div>
    <div class="main_news_wrapper mb30">
        <div class="container">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="http://designers.burdastyle.ru/?utm_source=bs&amp;utm_medium=anons_spec">
                            <img src="https://burdastyle.ru/cache/img/photo/2036/2035631/40_40_s117.jpg" alt="Burda Fashion Start 2018. Прием заявок">
                            <span class="title">Burda Fashion Start 2018. Прием заявок</span>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="https://burdastyle.ru/eshop/nabory-dlya-vyshivaniya-10031/">
                            <img src="https://burdastyle.ru/cache/img/photo/2036/2035621/40_40_s255.jpg" alt="Наборы для вышивания в магазине BurdaStyle.ru">
                            <span class="title">Наборы для вышивания в магазине BurdaStyle.ru</span>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="https://burdastyle.ru/landing/burda0618/?utm_source=bs&amp;utm_medium=anons_spec&amp;utm_campaign=tkani06 ">
                            <img src="https://burdastyle.ru/cache/img/photo/2018/2017561/40_40_s405.jpg" alt="Ткани к моделям Burda 06/2018 от наших экспертов">
                            <span class="title">Ткани к моделям Burda 06/2018 от наших экспертов</span>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="https://burdastyle.ru/stati/platya-na-vypusknoj-2018-luchshie-trendy-/">
                            <img src="https://burdastyle.ru/cache/img/photo/2037/2036021/40_40_s669.jpg" alt="Платья на выпускной 2018: лучшие тренды">
                            <span class="title">Платья на выпускной 2018: лучшие тренды</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>