.course_preview {
    display: block;
    outline: none;
    text-decoration: none;
    background-color: $bg-color;
    .wrapper {
        position: relative;
        padding: 10px 20px;
    }
}
.course_info {
    position: relative;
    color: $white;
    background-position: center;
    background-size: cover;
    &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
    }
    .name {
        margin: 0 0 5px;
        @include font-title(20px, normal, 700);
    }
    .count {
        margin: 0 0 15px;  
        font-size: 12px;
    }
    .price-box {
        font-size: 18px;
    }
    .tags {
        margin: 0 0 0 -10px;
        padding: 0;
        list-style: none;
        li {            
            display: inline-block;
            vertical-align: top;
            margin: 0 0 10px 10px;
            padding: 5px 20px;
            color: $text-color;
            background-color: $white;
            font-size: 12px;
            border-radius: 30px;
        }
    }
}
.course_teacher {
    margin: 5px 0;
    display: flex;
    align-items: baseline;
    color: $gray;
    font-size: 12px;
    b {
        margin-left: 5px;
        color: $text-color;
        @include font-title(14px);
    }
}
.course_description {
    margin: 12px 0;
    color: $link-color;
}