.main_navigation_wrapper {
    position: relative;
    width: 100%;
    height: 50px;
    z-index: 2;
    background-color: $text-color;
    padding: 0;
    .swiper-wrapper {
        justify-content: space-between;
    }
    .swiper-slide {
        width: auto;
        &:not(:last-child) {
            margin-right: 20px;
        }
    }
    a {
        display: inline-block;
        @include font-default(15px, 50px);
        text-transform: uppercase;
        color: $white;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}
.main_header.fixed .main_navigation_wrapper .swiper-container {
    @include media((
        max-width: (all: 940px, md: 700px, sm: 420px),
        margin-left: (all: 100px, sm: 50px)
    ))
}
.main_navigation_burger {
    top: 14px;
    font-size: 0;
    background: none;
    border: none;
    @include media ((
        display: (all: none, xs: block) 
    ));
} 