.main_news_wrapper {
    padding: 20px 0;
    background-color: $bg-color;
    border-bottom: 1px solid $border-color;
    .swiper-container {
        margin: 0 -#{$gutter / 2};
    }
    .swiper-slide {
        width: 330px;
        padding: 0 #{$gutter / 2};
    }
    a {
        display: flex;
        align-items: center;
        height: 100%;
        text-decoration: none;
        color: $text-color;
        @include font-title();
    }
    img {
        flex: none;
        margin-right: 15px;
        width: 40px;
        height: 40px;
        border-radius: 8px;
    }
}