.main_header {
    .logo {
        display: block;
        @include media((
            width: (all: 170px, sm: 146px, xs: 14px),
            height: (all: 64px, sm: 55px, xs: 23px),
            background-image: (xs: url(../img/burda-style_logo_mini_white.svg)),
            position: (xs: absolute),
            top: (xs: 13px),
            left: (xs: 60px),
            z-index: (xs: 3)
        ))
        background: url(../img/burda-style_logo.svg) left center no-repeat;
        background-size: contain;
        font-size: 0;
    }   
    .actions_set {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        @include media((
            position: (xs: absolute),
            top: (xs: 7px),
            right: (xs: 15px),
            z-index: (xs: 3),
            left: (xs: auto)
        ))
        &.full {
            @include media((
                width: (xs: 100%)
            ))
            left: 15px;
            .search_block {                
                input {
                    @include media((
                        padding: (xs: 5px 10px)
                    ))
                }
                button {
                    color: $text-color
                }
            }
        }
    }
}
.main_header.fixed {
    .actions_set {
        position: fixed;
        top: 5px;
        z-index: 3;
        @include media((
            margin-left: (all: 1070px, md: 800px, sm: 470px, xs: none),
            width: (all: 220px, md: 170px),
            right: (xs: 15px),
            top: (xs: 7px)
        ))
    }
    .logo {
        position: fixed;
        top: 13px;
        z-index: 3;
        @include media((
            background-image: (
                all: url(../img/burda-style_logo_white.svg),
                sm: url(../img/burda-style_logo_mini_white.svg)),
            width: (all: 63px, sm: 14px),
            height: (all: 24px, sm: 23px)
        ))
    } 
} 
.main_header_wrapper {
    position: relative;
    @include media((
        padding: (all: 20px 0, xs: 0)
    ))
}
.main_header_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include media((
        min-height: (all: 64px, xs: inherit)
    ))  
}
