.search_block {
    @include media((
        width: (all: 400px, sm: 225px, xs: 100%),
        margin-right: (all: 250px, md: 90px, sm: 25px, xs: 12px)
    ));       
    position: relative;
    form {
        margin: 0;
        padding: 0;
    }
    input {
        @include font-default();
        color: $text-color;
        padding: 0;
        border: none;
        border-bottom: 1px solid $text-color; 
        box-shadow: none;
        outline: 0;
        @include media((
            width: (all: 100%),
            padding: (all: 5px 30px 5px 0, xs: 5px 0)
        ));
    }
    button {
        position: absolute;
        display: block;
        right: 0;
        top: 5px;
        width: 30px;
        height: 20px;
        color: $text-color;
        font-size: 18px;
        background: none;
        border: none;
        outline: none;
        cursor: pointer;
        @include media((
            color: (all: $text-color, xs: $white),
        ));
        &:hover {
            @include media((
                color: (all: $black, xs: $white),
            ));
        }
    }
}
.search_icon {
    position: relative;
    top: 1px;
    @include media((display: (all: none, xs: block)));
    width: 45px;
    margin: 0 16px 0 0;
    line-height: 1;
    text-align: center;
    font-size: 21px;
    text-decoration: none;
    @include media((
        color: (all: $text-color, xs: $white)
    ))
}
.main_header.fixed .search_icon {
    display: block;
    color: $white;
}
