.shopping_block {    
    position: relative;
    display: flex;
    align-items: center;
    height: 35px;
    .bs-icon-basket:before {
        padding: 3px 0;
        font-size: 25px;
        @include media((
            margin-right: (all: 20px, xs: 5px),
            color: (all: $text-color, xs: $white),
            font-size: (all: 25px, xs: 23px)
        ))
        transition: color .5s ease-in-out;
    }
    .badge {
        position: absolute;
        left: 17px;
        top: 0;
        background-color: $red;
        min-width: 18px;
        padding: 3px 0;
    }
    a {
        text-decoration: none;
    }
}
.shopping_cart_box-header {
    display: flex;
    align-items: center;
    position: relative;
    color: $text-color;
    text-decoration: none;
    cursor: pointer;
    .price-box {
        line-height: 22px;
        @include media((
            display: (xs: none)
        ))
    }
    .price {
        font-weight: 700;
        line-height: 1;
    }
}
.main_header.fixed {
    .shopping_cart_box-header {
        height: 30px;
        color: $white;
        .title {
            display: none;
        }
        .price-box {
            @include media((
                display: (md: none)
            ))
        }
        .price {
            line-height: 32px;
        }        
    }
    .badge {
        top: 0;
    }
    .bs-icon-basket:before {
        top: 5px;
        font-size: 23px;
        color: $white;
        transition: none;
    }
}
