.user_block {
    display: block;
    position: relative;
    @include media((
        width: (all: 140px, xs: 45px),
        margin-right: (all: 30px, xs: 7px)
    ));
    &.noauth {
        width: auto;
    }
    .avatar {
        @include media((
            width: (all: 28px, xs: 23px),
            height: (all: 28px, xs: 23px),
            color: (all: $text-color, xs: $white),
            font-size: (all: 28px, xs: 23px)
        ))
        margin-right: 12px;
        border-radius: 50%;
        &:before {
            font-size: 28px;
            @include media((
                color: (all: $text-color, xs: $white),
                font-size: (all: 28px, xs: 23px)
            ))
            transition: color .5s ease-in-out;
        }
    }
    &:hover .avatar:before {
        @include media((
            color: (all: $black, xs: $white)
        ))
    }
    a {
        text-decoration: none;
    }
}

.user_box-header {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    color: $text-color;
    .info-box {
        @include media((
            display: (xs: none)
        ));
    }
}
.main_header.fixed .user_block {
    @include media((
        margin-right: (md: 20px, xs: 7px),
    ));
    .user_box-header {
        color: $white;
    }
    .avatar {
        width: 23px;
        height: 23px;
        font-size: 23px;
        &:before {
            font-size: 23px;
            transition: none;
            color: $white;
        }
    }
    .info-box {
        @include media((
            display: (md: none),
        ));
    }    
}